body{
    margin: 0;
}
header{
    background: linear-gradient(rgba(69, 89, 105, 0.95), rgba(69, 89, 105, 0.95)), url(../img/header-bg.jpg) top center;
    background-size: cover;
    padding-bottom: 250px;
}
.wrapper{
    margin: 0 auto;
    width: 70%;
}
.header-text p{
    font-size: 20px;
    color: #c5d2e5;
    font-family: "Roboto";
}
.header-text h2{
    color: #fff;
    font-size: 30px;
}
.home{
    color: white;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.home h1{
    font-size: 28px;
}
.logo{
    margin-right: 15px;
    width: 50px;
    height: 50px;
    background: linear-gradient(to right,#57b287 50%, #67bf95 50%);
    border-radius: 50%;
}
.header-line   {
    margin-bottom: 120px;
    display: flex;
    justify-content: space-between;
}
.login{
    display: flex;
    align-items: center;
}
.login p{
    margin-right: 15px;
    color: #c9ced7;
    font-weight: 250;
    font-style: italic;
    font-family: "Roboto";
    font-size: 16px;
}
.login a{
    color: white;
    text-decoration: none;
    border-radius: 7px;
    background-color: #3d4b60;
    padding: 10px 15px;
}
.header-wrap{
    display: flex;
    justify-content: space-between;
}
.text{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.message{
    width: 30%;
}
.message img{
    width: 100%;
}
.text img{
    width: 20%;
}
.text-wrap{
    width: 50%;
}
.social{
    width: 10%;
}
.header-text p{
    margin-bottom: 60px;
    width: 60%;
}
.header-text a{
    text-decoration: none;
    color: white;
    background-color: #67bf95;
    padding: 15px 35px;
    font-size: 30px;
    border-radius: 5px;
}
.social div{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75px;
    height: 75px;
    border-radius: 50%;
    border: 2px solid #67bf95;
}
.pencil span{
    width: 30px;
    height: 30px;
    background-image: url("../img/pencil.png");
    background-size: cover;
}
.fb span{
    width: 14px;
    height: 30px;
    background-image: url("../img/fb.png");
    background-size: cover;
}
.pencil:hover, 
.fb:hover{
    background-color: #67bf95;
}
.pencil:hover span{
    background-image: url("../img/hov_pencil.png");
}
.fb:hover span{
    background-image: url("../img/hov_fb.png");
}
.app{
    background-color: #52ad81;
}
.app-title{
    text-align: center;
    color: white;
}
h4{
    text-align: center;
    font-size: 40px;
    font-family: "Roboto";
    font-weight: 500;
    color: #ffffff;
}
.app-title p{
    text-align: center;
    width: 82%;
    font-size: 20px;
    font-family: "Roboto";
    margin-bottom: 60px;
}
.header-fotter{
    display: flex;
}
.slider{
    display: flex;
    justify-content: center;
    align-items: center;
    left: 7%;
    top: 30%;
    position: absolute;
    border: 2px solid #b3dbc8;;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-size: cover;
}
.app-img{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
table{
    background-color: white;
}
.table1 h5{
    color: #37414e;
    font-family: "Roboto";
    font-size: 25px;
    text-align: center;
}
.table-name{
    width: 70%;
    margin: 0 auto;
}
.table-name p{
    text-align: center;
    font-family: "Roboto";
    color: #858b93;
}
.slider img{
    width: 10px;
}
.right{
    right: 7%;
    left: auto;
}
.right img{
    transform: rotate(180deg);
}
.table1 thead{
    background-color: #4b596b;
}
.table1 tbody{
    background-color: #e9edf3;
}
.slider:hover{
    background-color: black;
}
table{
    border-collapse: collapse;
    width: 30%;
    text-align: center;
}
.table2 thead{
    background-color: #58ad52;
}
.table2 tbody{
    background-color: #e9edf3;
}
.table3 thead{
    background-color: #52a1ac;
}
.table3 tbody{
    background-color: #e9edf3;
}
.table-ozer{
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}
table thead{
    color: white;
}
td,th{
    padding: 25px;
}
.table2::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 50px;
    height: 50px;
    background-image: url(../img/element.png);
    background-size: cover;
    transform: translate(50%, -50%);
}
.table2{
    position: relative;
}
.button-line{
    margin-bottom: 70px;
    display: flex;
    justify-content: space-between;
}
.button-line a{
    width: 30%;
    text-decoration: none;
    color: #fff;
    text-align: center;
    padding: 15px;
    box-sizing: border-box;
}
.button1{
    background-color: #4b596b;
}
.button2{
    background-color: #58ad52;
}
.button3{
    background-color: #52a1ac;
}
.table-footer p{
    margin: 0;
    padding: 30px;
    text-align: center;
    font-size: 20px;
    font-family: "Roboto";
    font-weight: 500;
    color: #4b596c;
    background-color: #e9eaed;
}
video{
    width: 100%;
}
td{
    font-family: "Roboto";
    text-align: center;
    font-weight: 400;
}
.logo2{
    margin-right: 15px;
    width: 40px;
    height: 40px;
    background: linear-gradient(to right,#57b287 50%, #67bf95 50%);
    border-radius: 50%;
}
footer{
    background-color: #2a2d33;
}
.text-h1>p{
    font-size: 28px;
}
.text-h1{
    display: flex;
    align-items: center;
    color: #efefef;
}
.text-oficial{
    color: #8d8d8d;
}
.text-footer{
    display: flex;
}
.twiter{
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #2f3337;
    color: #656566;
    padding: 10px;
    background-size: cover;
    border-radius: 50%;
    border: 2px solid #444548;
}
.twiter img{
    width: 20px;
}
.text-footer{
    display: flex;
    justify-content: space-between;
}
.fb-footer{
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #2f3337;
    color: #656566;
    padding: 10px;
    background-size: cover;
    border-radius: 50%;
    border: 2px solid #444548;
}
.fb-footer img{
    width: 10px;
    height: 20px;
}
.social-footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 15%;
}
.video{
    margin-bottom: -4px;
}
.table1 th{
    color: #6d737b;
    font-size: 20px;
}
.table2 th{
    color: #58ad52;
    font-size: 20px;
}
.table3 th{
    color: #52a1ad;
    font-size: 20px;
}
thead td{
    font-size: 25px;
}
.fb{
    margin-top: 20px;
}
.text{
    align-items: center;
    padding-top: 100px;
}
.text p{
    width: 75%;
    color: #4b596c;
    line-height: 25px;
}
.text h2{
    color: #37414e;
}
.app-title h4{
    padding-top: 60px;
    margin-bottom: 20px;
}
.app-img img{
    border-radius: 10px 10px 0 0;
}
.table-name h5{
    font-size: 30px;
}